.mat-tab-group {
    margin-bottom: 48px;
}

.mat-tab-label {
    padding: 5px;
    color:white;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}
