click==8.0.3
colorama==0.4.4
crytic-compile==0.2.3
Flask==2.0.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
prettytable==3.4.1
pysha3==1.0.2
slither-analyzer==0.8.3
solc-select==0.2.1
wcwidth==0.2.5
Werkzeug==2.0.2
solidity_parser