<br>
<div style="text-align: center;">
  <h1 style="font-size: xx-large;"> Metrics </h1>
</div>

<div>
  <br>

  <table mat-table [dataSource]="parseResults" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="parameter">
      <th mat-header-cell *matHeaderCellDef> Parameter </th>
      <td mat-cell *matCellDef="let element"> {{element.parameter}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Value </th>
      <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>