
  .mat-card-title{
    display: flex;
    flex-direction: column;
    align-items: center ;
  }
.mat-card-content{
    display: flex;
    flex-direction: column;
    align-items: auto;
    padding-left: 30%;
} 


.mat-card-actions {
    display: flex;
    flex-direction: column;
    align-items: center ;
}