<p>analyze works!</p>

<div >
    <mat-card 
    background-color="primary">
        <mat-card-title >You can write your program here!</mat-card-title>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Textarea</mat-label>
                <textarea matInput rows="20" cols="80"></textarea>
              </mat-form-field>
        </mat-card-content>
      </mat-card>
      <br>

</div>
<div>
  <mat-card>
    <mat-card-title>Results</mat-card-title>
    <mat-card-actions >
      <button mat-raised-button color="primary" >Click to view Results</button>

    </mat-card-actions>
  </mat-card>
  <br>
</div>